body {
    background-color: rgb(184, 193, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav{
    text-align: center;
    
}

li {
    align-items: center;
    list-style: none;
    margin: 5px 0 5px 0;
}

.quiz-intro {
    text-align: center;
    margin-top: 100px;
}

.hide {
    display: none;
}

#question {
    font-size: x-large;
}

#answerChoice {
    text-align: center;
}